[Unit]
Description=N8N
After=podman-user-wait-network-online.service
Wants=podman-user-wait-network-online.service

[Container]
ContainerName=vivy-n8n
AutoUpdate=registry
Image=docker.n8n.io/n8nio/n8n:latest
EnvironmentFile=/home/vivy/.env
Pod=vivy.pod
Volume=vivy-n8n-data:/home/node/.n8n:Z

[Service]
Restart=always

[Install]
WantedBy=default.target