[Unit]
Description=Redis
After=podman-user-wait-network-online.service
Wants=podman-user-wait-network-online.service

[Container]
ContainerName=vivy-redis
AutoUpdate=registry
Image=docker.io/bitnami/redis:latest
Environment=ALLOW_EMPTY_PASSWORD=yes
Pod=vivy.pod
Volume=vivy-redis-data:/bitnami/redis/data:Z

[Service]
Restart=always

[Install]
WantedBy=default.target