[Unit]
Description=Vivy
After=redis.container
After=lavalink.container
Requires=redis.container
Requires=lavalink.container

[Container]
ContainerName=vivy
AutoUpdate=registry
Image=docker.io/gavenda/vivy:latest
EnvironmentFile=/home/vivy/.env
Pod=vivy.pod

[Service]
Restart=always

[Install]
WantedBy=default.target